@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    background-color: #fff
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    width: 100%;
    max-width: 420px;
    min-height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: 5rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: white;
    color: black;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

#username,
#password,
#confirm_pwd {
    border: 1px solid rgba(0,0,0,0.5);
}

#username,
#password,
#confirm_pwd,
.form-button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.form-label,
.form-button {
  margin-top: 1rem;
  font-weight: 700;
}

.form-button {
  padding: 0.5rem;
  background-color: #ffff33;
  border: 1px solid rgba(0,0,0,0.5);
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.link {
    text-decoration: none;
}