@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: dodgerblue;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: 5rem auto;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid black
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}